@font-face {
    font-family: "SignPainter";
    src: url('../fonts/SignPainter.otf');
}

@font-face {
    font-family: "kefa";
    src: url('../fonts/Kefa.ttc');
}

@font-face {
    font-family: "Champagne";
    src: url('../fonts/Champagne.ttf');
}

@font-face {
    font-family: "ChampagneBold";
    src: url('../fonts/ChampagneBold.ttf');
}

.font-signpainter {
    font-family: "SignPainter", serif;
}

.font-kefa {
    font-family: "kefa", serif;
}

.font-champagne {
    font-family: "Champagne", serif;
}

.font-champagne-bold {
    font-family: "ChampagneBold", serif;
}

.bg-blue-celebration {
    background-color: #072C47;
}

.bg-gray-celebration {
    background-color: gray;
}

.bg-light-gray-celebration {
    background-color: lightgray;
}

.bg-blue-gray-celebration {
    background-color: #B1C4D2;
}

.txt-blue-celebration {
    color: #072C47;
}

.border-right-2 {
    width: 2px;
}

.h-25-px {
    height: 25px;
}

.bg-image {
    background: url("../img/home-pg.jpg") no-repeat center;
    background-size: cover;
}

.sq-50 {
    width: 50px;
    height: 50px;
}

.sq-80 {
    width: 80px;
    height: 80px;
    font-size: 10px;
}

.sq-100 {
    width: 100px;
    height: 100px;
}

.sq-110 {
    width: 110px;
    height: 110px;
    font-size: 13px;
}

.sq-130 {
    width: 130px;
    height: 130px;
    font-size: 16px;
}

.sq-150 {
    width: 150px;
    height: 150px;
}

.sq-200 {
    width: 200px;
    height: 200px;
}

.fa-facebook, .fa-instagram {
    font-size: 25px;
}

.background-line {
    height: 12px;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.background-line-main {
    height: 12px;
    width: 100%;
    position: absolute;
    z-index: -1;
    margin-top: 39px;
}

.p-relative {
    position: relative;
}

.ancla {
    cursor: pointer;
}

.border-10 {
    border: 10px solid;
}

.border-5 {
    border: 5px solid;
}

.form_send {
    width: 600px;
}