@font-face {
    font-family: "SignPainter";
    src: url('../fonts/SignPainter.otf');
}

@font-face {
    font-family: "kefa";
    src: url('../fonts/Kefa.ttc');
}

@font-face {
    font-family: "Champagne";
    src: url('../fonts/Champagne.ttf');
}

@font-face {
    font-family: "ChampagneBold";
    src: url('../fonts/ChampagneBold.ttf');
}

.font-signpainter {
    font-family: "SignPainter", serif;
}

.font-kefa {
    font-family: "kefa", serif;
}

.font-champagne {
    font-family: "Champagne", serif;
}

.font-champagne-bold {
    font-family: "ChampagneBold", serif;
}

.bg-blue-celebration {
    background-color: #072C47;
}

.bg-green-celebration {
    background-color: #005548;
}

.bg-red-celebration {
    background-color: #6e000d;
}

.bg-blue-sky-celebration {
    background-color: #00426e;
}

.bg-purple-celebration {
    background-color: #230057;
}

.bg-gray-celebration {
    background-color: gray;
}

.bg-light-gray-celebration {
    background-color: lightgray;
}

.bg-blue-gray-celebration {
    background-color: #B1C4D2;
}

.txt-blue-celebration {
    color: #072C47;
}

.border-right-2 {
    width: 2px;
}

.h-25-px {
    height: 25px;
}

.bg-image {
    background: url("../img/home-pg.jpg") no-repeat center;
    background-size: cover;
}

.sq-50 {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all .2s;
}

#service2 .sq-50 {
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all .2s;
    margin-top: 40px;
    margin-bottom: 40px;
}

.sq-50 img {
    width: 63%;
}

#service .sq-50:hover {
    width: 60px;
    height: 60px;
    transition: all .2s;
}

#service2 .sq-50:hover {
    width: 70px;
    height: 70px;
    transition: all .2s;
    margin-top: 35px;
    margin-bottom: 35px;
}

.sq-80 {
    width: 80px;
    height: 80px;
    font-size: 10px;
}

.sq-100 {
    width: 100px;
    height: 100px;
}

.sq-110 {
    width: 110px;
    height: 110px;
    font-size: 13px;
}

.sq-130 {
    width: 130px;
    height: 130px;
    font-size: 16px;
}

.sq-150 {
    width: 150px;
    height: 150px;
}

.sq-200 {
    width: 200px;
    height: 200px;
}

.fa-facebook, .fa-instagram {
    font-size: 25px;
}

.background-line {
    height: 12px;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.background-line-main {
    height: 12px;
    width: 100%;
    position: absolute;
    z-index: -1;
    margin-top: 39px;
}

.p-relative {
    position: relative;
}

.ancla {
    cursor: pointer;
}

.border-10 {
    border: 10px solid;
}

.border-5 {
    border: 5px solid;
}

.form_send {
    width: 600px;
}

.nav-inactive {
    opacity: 0;
    transition: all .2s;
    z-index: -1;
}

.nav-active {
    opacity: 1;
    transition: all .2s;
    z-index: 10000;
}

.fa-bars {
    color: #ccc;
    border: 1px solid #ccc;
    background: #eeeeee;
    cursor: pointer;
    font-size: 30px;
}

#collapseOne div {
    cursor: pointer;
}

.break-word {
    -ms-word-break: break-all;
    word-break: break-all;
}

#img-carousel {
    height: 230px;
    background: url("../img/bg_detail.jpg") no-repeat center;
    background-size: cover;
}

.carrusel {
    width: 100%;
    height: 100%;
    background-image: url("../img/gal/cocina/cocina.jpg");
    transition: all 1s;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.file_1, .file_2 {
    height: 50%;
}

.cols {
    flex: 1;
    background: #072C47;
}

.file_1 .col_1 {
    opacity: 1;
    font-size: 15px;
    color: #072C47;
    transition: all .5s;
}

.file_1 .col_2 {
    opacity: 1;
    transition: all .5s;
}

.file_1 .col_3 {
    opacity: 1;
    transition: all .5s;
}

.file_1 .col_4 {
    opacity: 1;
    transition: all .5s;
}

.file_1 .col_5 {
    opacity: 1;
    transition: all .5s;
}

.file_2 .col_1 {
    opacity: 1;
    transition: all .5s;
}

.file_2 .col_2 {
    opacity: 1;
    transition: all .5s;
}

.file_2 .col_3 {
    opacity: 1;
    transition: all .5s;
}

.file_2 .col_4 {
    opacity: 1;
    transition: all .5s;
}

.file_2 .col_5 {
    opacity: 1;
    transition: all .5s;
}

#original-nav a {
    text-decoration: none;
    color: #072C47;
}

#fixed-nav a {
    text-decoration: none;
    color: #072C47;
}

.description {
    font-size: 12px;
    padding: 15px;
}

footer a {
    text-decoration: none;
    color: white;
}
footer a:hover {
    text-decoration: none;
    color: white;
}
.img-carousel{
    background-size: cover;
    background-position: center;
}
.indicator {
    display: none;
    position: absolute;
    width: 100%;
    height: 0;
    padding-left: 50%;
    padding-bottom: 15%;
    overflow: hidden;
    left: 0;
    bottom: 0;
}
.indicator div {
    width: 0;
    height: 10px;
    margin-left: -500px;
    border-left: 500px solid transparent;
    border-right: 500px solid transparent;
    border-bottom: 110px solid black;
}
.active .indicator{
    display: block;
}
@media (min-width: 576px) {
    #img-carousel {
        height: 300px;
    }

    .file_1 .col_1 {
        font-size: 20px;
        color: white;
    }
}

@media (min-width: 768px) {
    #img-carousel {
        height: 400px;
    }

    .file_1 .col_1 {
        font-size: 25px;
        color: white;
    }

    #service2 .sq-50 {
        width: 60px;
        height: 60px;
        cursor: pointer;
        transition: all .2s;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    #service2 .sq-50:hover {
        width: 70px;
        height: 70px;
        transition: all .2s;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media (min-width: 992px) {
    #img-carousel {
        height: 500px;
    }

    .file_1 .col_1 {
        font-size: 30px;
        color: white;
    }
}

@media (min-width: 1200px) {
    #img-carousel {
        height: 600px;
    }

    .file_1 .col_1 {
        font-size: 40px;
        color: white;
    }

    #service2 .sq-50 {
        width: 60px;
        height: 60px;
        cursor: pointer;
        transition: all .2s;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    #service2 .sq-50:hover {
        width: 70px;
        height: 70px;
        transition: all .2s;
        margin-top: 35px;
        margin-bottom: 35px;
    }
}